<% layout("/layouts/boilerplate.ejs") %>
<body>
  <h2 style="text-decoration: underline black ; text-align: center;">Add New Details </h2><br><br>
  <div class="row">
    <div class="col-8">
      <form action="/listings" method="post">
        <div>
          <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Title" class="form-control">
        </div>
        <div>
          <label for="title" class="form-label">Description</label>
          <input type="text" name="listing[description]" placeholder="description" class="form-control">
        </div>
        <div>
          <label for="title" class="form-label">Image</label>
          <input type="text" name="listing[image][url]" placeholder="image/URL" class="form-control">
        </div>
        <div>
          <label for="title" class="form-label">Image</label>
          <input type="number" name="listing[price]" placeholder="price" class="form-control">
        </div>
        <div>
          <label for="title" class="form-label">Image</label>
          <input type="text" name="listing[location]" placeholder="location" class="form-control">
        </div>
        <div>
          <label for="title" class="form-label">Image</label>
          <input type="text" name="listing[country]" placeholder="country" class="form-control">
        </div><br><br>
        <button type="submit" class="btn btn-primary btn-sm">submit</button><br><br>
      </form>
    </div>
  </div>
</body>
</html>