<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New add</title>
</head>
<body>
  <h2>Add New Things</h2>
  <form action="/listings" method="post">
    <p>Title : <input type="text" name="listing[title]" placeholder="Title" ></p><br><br>
    <p>Description : <input type="text" name="listing[description]" placeholder="description"></p><br><br>
    <p>image : <input type="text" name="image/UR" placeholder="image/URL"></p><br><br>
    <p>Price : <input type="number" name="listing[price]" placeholder="price"></p><br><br>
    <p>Location : <input type="text" name="listing[location]" placeholder="location"></p><br><br>
    <p>Country : <input type="text" name="listing[country]" placeholder="country"></p><br><br>
    <button>Submit</button>
  </form>
</body>
</html>